@font-face {
  font-family: 'InterDisplay';
  font-display: swap;
  font-weight: 200;
  src: url('../fonts/InterDisplay-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'InterDisplay';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url('../fonts/InterDisplay-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'InterDisplay';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url('../fonts/InterDisplay-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'InterDisplay';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url('../fonts/InterDisplay-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Sentient';
  font-weight: 100 1000;
  src: url('../fonts/Sentient-Variable.woff2') format('woff2');
}

@font-face {
  font-family: 'Switzer';
  font-weight: 100 1000;
  src: url('../fonts/Switzer-Variable.ttf') format('truetype');
}

@font-face {
  font-family: 'Geist';
  font-weight: 100 1000;
  src: url('../fonts/Geist-Variable.ttf') format('truetype');
}

h2,
h3 {
  font-weight: 600;
}
